<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../demo/m2.css" type="text/css" media="screen" charset="utf-8">
	<script src="../lib/jquery-2.0.2.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../lib/angular.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../demo/m2.js" type="text/javascript" charset="utf-8"></script>	
</head>
<body ng-app="app" ng-controller="M2Ctrl">
	<div class="toggle layout" ng-class="d.toggle?'active':''" ng-click="d.toggle=!d.toggle"><div class="toggle-handle"></div></div>
	<div class="toggle demo" ng-class="d.demo?'active':''" ng-click="d.demo=!d.demo"><div class="toggle-handle"></div></div>
	<div ng-show="d.demo" class="toggle autoDemo" ng-class="d.autoDemo?'active':''" ng-click="d.autoDemo=!d.autoDemo"><div class="toggle-handle"></div></div>
	<div id="total" ng-show="d.demo"><input type="number" placeholder="Total" ng-model="d.total" min="1" max="20"></div>
	<div ng-show="d.demo" class="toggle startDemo" ng-class="d.startDemo?'active':''" ng-click="d.startDemo=!d.startDemo"><div class="toggle-handle"></div></div>
	<div class="clearfix"></div>
	<div class="iphone" ng-class="d.toggle?'landscape':'potrait'" ng-repeat="n in [] | range:d.total">
		<div class="inner"><iframe src="../main.html"></iframe></div>
	</div>
</body>
</html>