<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a class="button" ng-click="Menu.toggle()" stop-event="click" style="height:23px;padding-right: 25px;">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>	
		<h1 class="title">Sales Performance</h1>
	</header>
	<div class="content slide" ng-click="Menu.isOpen() && Menu.toggle()">
		<div class="chart chart2" id="chartContainer1"></div> 
		<div class="chart chart2" id="chartContainer2"></div> 
	</div>
</div>