<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a class="button" ng-click="Menu.toggle()" style="height:23px;padding-right:26px;">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>	
		<h1 class="title">Event Info</h1>
	</header>
	<div class="content  slide">
					<ul class="list inset">
				<li ng-click="joinEvent()" style="">
						<span style="font-size=15px"> <i class="icon-calendar"></i></span>
						<strong> 18-20 December 2013<!-- {{a.events.startDate | date:'ddyyyy'}} --></strong>
					 </li><li>
					 	 <i class="icon-map-marker"></i> <strong>{{a.events.venue}}</strong>
					 	
					</li>
				</ul>
				<ul class="list inset">
					<li style="padding: 20px 10px 20px 10px;">
						{{a.events.eventInfo}}
					</li>
					
				</ul>
	
	
	</div>
</div>