<div class="page">
<header class="bar-title">
	<h1 class="title">
		<img src="logo.png" height="35" width="80">
		Event Conference</h1>

</header>
<div class="content">   
	<space></space>	
	<!-- <div style="background-image:url('/home/srikanth/Downloads/2.jpg')">

	</div>
 -->	<div class="input-group inset">
		<div class="input-row">
			<label>Username</label>
			<input type="text" placeholder="username@domain.com" ng-model="username">
		</div>
		<div class="input-row">
			<label>Password</label>
			<input type="password" ng-model="password">
		</div>
	</div>
	<a class="button-main button-block" ng-click="signIn()">Sign In</a>
	<div align="center">
	<script type="in/Login" data-label="action">
</script>
	<span id="signinButton">
	  	<span
	    class="g-signin"
	    data-callback="signinCallback"
	    data-approvalprompt="force"
	    data-clientid="58357025836-9vi72nbuo0c3phif8n5n7oqp35l15k4s.apps.googleusercontent.com"
	    data-cookiepolicy="single_host_origin"
	    data-requestvisibleactions="http://schemas.google.com/AddActivity"
	    data-scope="https://www.googleapis.com/auth/plus.login  https://www.googleapis.com/auth/plus.profile.emails.read">
	  	</span>
	</span>
</div>
	</div>
</div>
</div>
<script type="text/javascript">
</script>
