<div class="page">
<header class="bar-title">
	<h1 class="title">
		<img src="http://www.tiesummit.com/img/logo.png" height="35" width="80">
		TiE ENTREPRENEURIAL SUMMIT 2013     
</h1>

</header>
<div class="content">   

	<space></space>	
	<ul class="list inset">
  <li class="list-divider"><strong>Sign in with</strong></li>
  <li style=""><script type="in/Login" data-label="action"></script></li>
  
  <li style="">
	<span id="signinButton">
	  	<span
	    class="g-signin"
	    data-callback="signinCallback"
	    data-approvalprompt="force"
	    data-clientid="58357025836-9vi72nbuo0c3phif8n5n7oqp35l15k4s.apps.googleusercontent.com"
	    data-cookiepolicy="single_host_origin"
	    data-requestvisibleactions="http://schemas.google.com/AddActivity"
	    data-scope="https://www.googleapis.com/auth/plus.login  https://www.googleapis.com/auth/plus.profile.emails.read">
	  	</span>
	</span></li>
  <li >Continue using registered E-mail</li>
   <li>	<div class="input-row">
			<input type="text" placeholder="username@domain.com" style="height:35px" ng-model="email">
			<a stop-event="click" ng-click="guestLogin(email)" class="button-main" style="top:45%"><i class="icon-signin"></i> </a>
		</div>
	</li>
</ul>
	<div align="center">
		<i ng-show="loading" class="icon-spinner icon-spin icon-large" style="display: none;"></i> 
	</div>
	<div align="center" style="margin-top:40%;">
<ul>
	<li>	<div class="input-row">
			Powered by 
			<a href=""><img src="http://www.telidos.com/img/logo.png" height="30px" width="60px"> </a>
		</div>
	</li>
</ul>
</div>
	</div>


</div>
</div>
<script type="text/javascript">
</script>
