<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a class="button" ng-click="Menu.toggle()">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>	
		<h1 class="title">Home</h1>
		<a class="button" ng-click="signOff()">
			<i class="icon-signout icon-large"></i> {{userName}}
		</a>
	</header>
	<div class="content black slide" ng-click="Menu.isOpen() && Menu.toggle()">
		<space></space>
		
		<space></space>
		<a class='icon' ng-repeat="m in menuItems" ng-hide="m.code==='/'" ng-click="Menu.menuItemClick(m)" stop-event="click">
			<i ng-class="m.icon" class="icon-2x"></i>
			<span>{{m.name}}</span>
		</a>
	</div>
</div>