<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a class="button" ng-click="Menu.toggle()" stop-event="click" style="height:23px;padding-right: 25px;">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>	
		<h1 class="title">Google Map</h1>
		<a class="button" ng-click="Menu.back()">
		<i class="icon-arrow-left icon-large"></i>
		</a>		
	</header>
	<div class="content" ng-click="Menu.isOpen() && Menu.toggle()">
		<div id="map-canvas" class="chart"></div> 
	</div>
</div>

