<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a class="button" ng-click="Menu.toggle()" style="height:23px;padding-right: 12px;">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>	
		<h1 class="title">My Profile</h1>
		<a class="button" ng-click="saveData()">
			<i class="icon-save"></i> Save
		</a>
	</header>
	<!-- [ "id", "firstName", "lastName","emailAddress", "pictureUrl",
              "publicProfileUrl" ]) -->

  <div class="content  slide" ng-click="Menu.isOpen() && Menu.toggle()">
	
  <div style="padding-left:40%;margin-top:10px;border-radius:10px"><img src="{{a.profile.profileUrl}}" style="border:1px;" height="80px" width="80px"></img></div>	
  <div style="margin-left:15px;margin-bottom:5px"><strong>CONTACT</strong></div>		
  <form>
  <div class="input-group">
    <div class="input-row">
      <input type="text"  ng-model="a.profile.firstName">
    </div>
    <div class="input-row">
    <input type="text"  ng-model="a.profile.lastName">
    </div>
    <div class="input-row">
      <input type="text"  ng-model="a.profile.title">
    </div>
     <div class="input-row">
      &nbsp;&nbsp;&nbsp;<i class="icon-phone"></i>
      <input type="text"  ng-model="a.profile.phone" style="width:65%">
    </div>
     <div class="input-row">
      &nbsp;&nbsp;&nbsp;<i class="icon-envelope"></i>
      <input type="text"  ng-model="a.profile.emailAddress" style="width:65%">
    </div>
  </div>
</form>
 
  <div style="margin-left:15px;margin-bottom:5px;margin-top:25px"><strong>SOCIAL</strong></div>    
 <form>
  <div class="input-group">
    <div class="input-row">
 
     <div class="input-row">
     &nbsp;&nbsp;&nbsp;<i class="icon-linkedin"></i>
      
      <input type="hidden" placeholder="LinkedIn Name" ng-model="a.profile.linkedinUsername" style="width:76%">
     <input ng-show="a.profile.linkedinUsername" type="text" value="Connected" style="width:76%" readonly>
    </div>
     <div class="input-row">
      &nbsp;&nbsp;&nbsp;<i class="icon-twitter"></i>
      
      <input type="text" placeholder="Twitter Name" ng-model="a.profile.twitterUsername" style="width:75%">
    </div>
  </div>
</div>
 </form>
</div>
</div>