<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a ng-show="a.selection==='Schedule'" class="button" ng-click="Menu.toggle()" style="height:23px;padding-right: 25px;">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>


	<a ng-if="a.selection==='ScheduleDetails'" class="button" style="margin-left:0px;margin-top: 2px;" ng-click="a.selection='Schedule';" stop-event="click">
			<i class="icon-arrow-left icon-large"></i>
	</a>
	<a ng-if="a.selection==='ScheduleRatings'" class="button" style="margin-left:0px;margin-top: 2px;" ng-click="a.selection='ScheduleDetails';" stop-event="click">
			<i class="icon-arrow-left icon-large"></i>
	</a>

		<h1 class="title">

			<i ng-show="a.loading || a.schedule.loading || a.sponserDetails.loading " class="icon-spinner icon-spin icon-large" style="display: none;"></i> 	{{a.pageTitle}}</h1>

	</header>
	<div class="content  slide" ng-switch on="a.selection">
			

		<div class="tab"  ng-switch-when="Schedule" infinite-scroll="getMoreSchedules()" infinite-scroll-distance="15">

<nav class="bar-standard">
  <ul class="segmented-controller">
    <li ng-class="day1=='Y'?'active':''">
      <a stop-event="click" ng-click="day1='Y';day2='N';day3='N';day1Events()" ng-class="active">18-Dec</a>
    </li>
    <li ng-class="day2=='Y'?'active':''" >
      <a stop-event="click" ng-click="day2='Y';day3='N';day1='N';day2Events()" >19-Dec</a>
    </li>
    <li ng-class="day3=='Y'?'active':''">
      <a stop-event="click"  ng-click="day3='Y';day2='N';day1='N';day3Events()">20-Dec</a>
    </li>
  </ul>
</nav>			
		<ul class="list" >

			<li style="border-top:0px;color:#FFF;padding-top:0px;padding-bottom:40px;"><div style="margin-left:30%"> </div></li></ul>
	<input type="search"   placeholder="Event Name"  ng-model="searchText" style="margin-bottom: 0px;"> 
	<a class="button-main button-block button-linkedin" style="margin-top:4px" stop-event="click" ng-click="myScheduledFilter=!myScheduledFilter">
		<any ng-show="myScheduledFilter===false">My Schedule</any>
			<any ng-show="myScheduledFilter===true">Full Schedule</any>
	</a>
					
<any ng-repeat="r in a.schedule.data | filter:searchText">
			<div ng-hide="myScheduledFilter && !r.isScheduled">
			<ul class="list inset" ng-click="a.schedule.current = r; a.selection='ScheduleDetails';"
						 ng-swipe-right="a.schedule.current = r; a.selection='ScheduleDetails';">
			<!-- <any ng-if="$index == 0"> -->
				<li class="list-divider">
					{{r.startTimeString}}  					<any ng-if="r.isScheduled">
						<font color="color:blue"><i class="icon-calendar"></i></font></span>
					</any>	
				</li>
		  <!--  </any> -->
		   <!-- <any ng-if="$index > 0">
				<li class="list-divider" style="border-radius: 0px;border-top-width:1px;border-top-width:1px">
					{{r.startTimeString}}
				</li>
		   </any> -->

			<li style="padding: 5px 20px 40px 10px" >
					
				<strong>{{r.name}}</strong>
				<span style="color:gray;font-size:15px;position: absolute;top: 70%;right:10px"><i class="icon-map-marker"></i> <small>{{r.venue}}</small>
						</span>
						<span style="color:gray;font-size:15px;position: absolute;top:70%;left:10px"><small>Ends at {{r.endTimeString}}</small>
						</span>
				
			</li>
					
		</ul>
	</div>
				</any>

		<ul>
			<li ng-show="a.schedule.loading" style="text-align: center; display: none;"><i class="icon-spinner icon-spin icon-large"></i></li>
		</ul>
		</div>
		<div class="tab"  ng-switch-when="ScheduleDetails">
			<ul class="list inset">
				<li class="">
					<div>
					<strong>{{a.schedule.current.name}}</strong>
					</div>
					<div>
						<a class="button" ng-click="a.selection='ScheduleRatings'" stop-event="click"><i class="icon-star-half-empty"></i> Rate</a>
					</div>
					<div style="margin-bottom:10px"></div>
						<div>
							<i class="icon-time"></i> {{a.schedule.current.startTimeString}} - {{a.schedule.current.endTimeString}} 
						</div>
						<div>
							<font size="4px"><i class="icon-map-marker"></i></font>   {{a.schedule.current.venue}}
						</div>
						

						
					</li></ul>
					<ul class="list inset"><li>
					
					<input type="hidden" ng-model="a.schedule.current.isScheduled" />
						I want to attend
					    <div class="toggle" ng-class='a.schedule.current.isScheduled?"active":""' ng-click="a.schedule.current.isScheduled=!a.schedule.current.isScheduled;scheduleMyEvent(a.schedule.current.isScheduled,a.schedule.current.eventScheduleId)" ng-swipe-right="a.schedule.current.isScheduled=true;" ng-swipe-left="a.schedule.current.isScheduled=false;">
					      <div class="toggle-handle"></div>
					    </div>
					
					</li>
				</ul>
				<div style="margin-left:15px;margin-bottom:5px"><strong>About</strong></div>	
						<ul class="list inset">
							<li>
				
						{{a.schedule.current.about}}
					</li>
				</ul>
			</div>
				<div class="tab"  ng-switch-when="ScheduleRatings">
					<form>
					<ul class="list inset">
				<!-- 		  <li ng-class="day1=='Y'?'active':''">
      <a stop-event="click" ng-click="day1='Y';day2='N';day3='N';day1Events()" ng-class="active">18-Dec</a>
    </li>
    <li ng-class="day2=='Y'?'active':''" >
      <a stop-event="click" ng-click="day2='Y';day3='N';day1='N';day2Events()" >19-Dec</a>
    </li>
    <li ng-class="day3=='Y'?'active':''">
      <a stop-event="click"  ng-click="day3='Y';day2='N';day1='N';day3Events()">20-Dec</a>
    </li> -->
					<li style="margin: -10px -10px -10px -5px; padding-right: 20px;"> 
						<ul class="segmented-controller">
						  <li ng-class="poor=='Y'?'active':''" style="padding: 15px 30px 20px 10px;">
						    <a stop-event="click" ng-click="poor='Y';good='N';great='N';" ><i class="icon-star-empty icon-2x"></i><font size="1px">Avg</font></a>
						  </li>
						  <li ng-class="good=='Y'?'active':''" style="padding: 15px 30px 20px 10px;">
						    <a stop-event="click" ng-click="poor='N';good='Y';great='N';" ng-class="active"> <i class="icon-star-half-empty icon-2x"></i><font size="2px">  Good</font></a>
						  </li>
						  <li ng-class="great=='Y'?'active':''" style="padding: 15px 30px 20px 10px;">
						    <a stop-event="click" ng-click="poor='N';good='N';great='Y';" ng-class="active"><i class="icon-star icon-2x"></i><font size="3px" >Great</font></a>
						  </li>
						</ul>
					</li>
				</ul>

 				<div style="margin-top:10px;margin-left:15px;margin-bottom:5px;margin-bottom:5px">Comments</div>
 				<div>
 				 <div align="center"> <textarea rows="6" style="width:95%" ng-model="comments"></textarea></div>
 				</div>
 					<ul class="list inset">
						<li >
						Submit Anonymously 
						<input type="hidden" ng-model="subAnany">
						<div class="toggle" ng-class='subAnany?"active":""' ng-click="subAnany=!subAnany;" ng-swipe-right="subAnany=true;" ng-swipe-left="subAnany=false;">
					      <div class="toggle-handle"></div>
					    </div>
					
						</li>
					</ul>
					<a class="button-main button-block button-positive" ng-click="sendFeedback(subAny,comments,poor,good,great)">Submit</a>
				</form>
			</div>
</div>