<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a class="button" ng-click="Menu.toggle()" style="height:23px;padding-right: 25px;">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>

		<h1 class="title">

			<i ng-show="a.loading || a.schedule.loading || a.sponserDetails.loading " class="icon-spinner icon-spin icon-large" style="display: none;"></i> 	Schedule</h1>
		<a class="button" ng-click="signOff()">
			<i class="icon-signout icon-large"></i> {{userName}}
		</a>
	</header>
	<div class="content  slide" ng-click="Menu.isOpen() && Menu.toggle()">
		<div class="tab" infinite-scroll="getMoreSchedules()" infinite-scroll-distance="15">
			
		<ul class="list" >

			<li style="border-top:0px;color:#FFF;padding-top:10px;background-color: #41b7d8"><div style="margin-left:30%"> <h3>Wednesday, December 18</h3></div></li></ul>
			

			<ul class="list inset">
			
			<any ng-repeat="r in a.schedule.data;">
			<li class="list-divider">
					{{r.startTime |  date:'HH:mm'}}
			</li>
			<li>
				<h3>{{r.name}}</h3>
						<span style="color:gray;font-size:15px;position: absolute;top: 70%;right:10px"><i class="icon-map-marker"></i> <small>{{r.venue}}</small></span>
			</li>
					</any>
					<li ng-show="a.schedule.loading" style="text-align: center; display: none;"><i class="icon-spinner icon-spin icon-large"></i></li>
		</ul>
		</div>
</div>