<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a class="button" ng-click="Menu.toggle()" stop-event="click" style="height:23px;padding-right: 25px;">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>	
		<h1 class="title">Tasks</h1>
		<a class="button" ng-click="create()">
			<i class="icon-plus icon-large"></i>
		</a>
	</header>
	<div class="content slide" ng-click="Menu.isOpen() && Menu.toggle()">
		<space></space>
		<ul class="list inset">
			<li ng-repeat="alarm in alarms">
				<a ng-click="goToDetails(alarm)" ng-swipe-right="goToDetails(alarm)" stop-event="click">
					{{alarm.date}} @ {{alarm.time}} - {{alarm.msg}}
					<span class="chevron"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
