<div class="page" ng-class="Menu.isOpen()?'open':''">
	<header class="bar-title">
		<a class="button" ng-click="Menu.toggle()" style="height:23px;padding-right:26px;">
			<i ng-hide="Menu.isOpen()" class="icon-align-justify icon-large"></i>
			<i ng-show="Menu.isOpen()" class="icon-remove icon-large"></i>
		</a>	
		<h1 class="title">Twitter Feed</h1>
	</header>

		<div class="content  slide" >

			<div class="tab"  infinite-scroll-distance="15">
				<ul class="list inset"  ng-repeat="r in a.tweets.data ">
					 <li style="min-height:50px;padding-bottom:5px;padding-right:10px">
					 <!-- 	<div style="padding-bottom:40px;">
							<img src="{{r.imageurl}}" style="position: absolute;height:70px;width:70px">
						</div>
						<div style="padding-left:80px;"> 
							<strong><h3>{{r.tweet}}</h3></strong>
						</div>  -->
						<div >
							<img src="{{r.imageurl}}" style="border:0px;position: absolute;top:10px; height:50px;width:50px">
						</div>
						<div style="position: relative;margin: -9px 0px 10px 60px;"> 
							{{r.tweet}}
						</div> 
						<!-- <span style="color:gray;font-size:30px;position: absolute;top: 30%;right:10px"><i class="icon-ok-sign"></i></span> -->
						<!-- <span class="chevron"></span> -->
						<!-- <span style="color:gray;font-size:30px;position: absolute;top: 30%;right:10px"><i class="icon-ok-sign"></i></span> -->
					<!-- 	<span class="chevron"></span>
					 --><!-- /a> -->
					</li>
				</ul>
				<ul>

					<li ng-show="a.tweets.loading" style="text-align: center; display: none;"><i class="icon-spinner icon-spin icon-large"></i></li>
				</ul>
				<!--a ng-show="a.sponsers.hasMore" class="button-main button-block" ng-click="getMoresponsers()">More</a-->
			</div>	
</div>

</div>